body, main, div, p{
    margin: 0;
    padding: 0;
}

body{
    background: blue;
}
main{
    background: pink;
    width: 1200px;
    height: 550px;
    margin: 0 auto;
}
.box-size, .standard{
    background: beige;
    height: 250px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
div{
    margin-bottom: 15px;
}
.standard p{
    background: red;
}
.box-size p{
    background: green;
    box-sizing: border-box;
      
}
.standard p, .box-size p{ 
    width: 25%;
    height: 150px;
    margin: 30px;
    padding: 50px;
    border-radius:10px;
    border: 1px solid black;
    text-align: center;
    font-size: 2em;
}